@import "./../../variables.scss";

.sfx-pack-preview {
    padding: 8px 16px;
    border-radius: 12px;
    cursor: pointer;
    animation: zoomIn 0.32s forwards 1 cubic-bezier(0.19, 1, 0.22, 1);
    margin-bottom: 8px;
    position: relative;

    &:hover, &.selected {
        background-color: $color_2;
    }

    &:hover {
        .pack-type {
            background-color: $bg_1;
        }
    }

    &.selected {
        &:before {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            background-color: $accent_1;
            border: solid 4px $accent_2;
            right: 8px;
            bottom: 8px;
            border-radius: 50%;

            animation: scaleUp 0.48s forwards 1 cubic-bezier(0.19, 1, 0.22, 1);

            @keyframes scaleUp {
                from {
                    transform: scale(0);
                }
                to {
                    transform: scale(1);
                }
            }
        }
    }

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 4px;
    }

    .pack-type {
        display: inline-block;
        background-color: $color_2;
        font-size: small;
        font-weight: 600;
        border-radius: 500px;
        padding: 2px 12px;
    }

    .name {
        font-size: 0.90rem;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        vertical-align: middle;
    }

    .description {
        font-size: small;
        padding: 16px 8px;
    }

    .author {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        vertical-align: middle;
    }

    .view {
        padding: 10px 24px;
        background-color: #{ $accent_1 };
        border: none;
        border-radius: 8px;
        color: #{ $color_2 };
        font-size: small;
        font-family: #{ $headerFont };
        flex: 1 1;
        max-width: 160px;
    }

    .delete {
        font-family: $bodyFont;
        font-weight: normal;
        color: $text_2;
    }

    .button-icon-only {
        margin-right: 0px;
        margin-left: 16px;
        padding: 4px;

        svg {
            fill: #{ $text_1 };
        }
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 8px;

        button, .button-icon-only {
            transition: opacity 0.32s cubic-bezier(0.19, 1, 0.22, 1);

            &:hover {
                opacity: 0.65
            }
        }
    }
}

.sfx-pack-track {
    width: 100%;
    padding: 24px 16px;
    border-radius: 8px;

    &:hover {
        background-color: $color_1;
    }

    .description {
        max-width: 480px;
        font-size: 0.90rem;
        margin-top: 8px;
    }

    .sfx-pack-track-top {
        display: flex;
        align-items: space-between;
        justify-content: space-between;
    }

    .replacements-list {
        margin-right: -16px;
        max-width: 1280px;

        @media all and (max-width: 900px) {
            margin-right: auto;
        }

        .replacement {
            display: inline-block;
            margin-right: 8px;
            width: calc(33% - 8px);

            @media all and (max-width: 1200px) {
                width: calc(50% - 8px);
            }
            
            @media all and (max-width: 900px) {
                width: 100%;
                margin: auto auto 8px;
                display: block;
            }
        }
    }

    .default-name {
        font-family: $bodyFont;
    }

    .file-icon {
        width: 24px;
        height: 24px;
        path { fill: #{ $text_2 }; }
        margin-right: 8px;
        display: inline-block;
        vertical-align: middle;
    }

    .details {
        margin-right: auto;
    }

    .buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .button-icon-only {
            margin-right: 16px;
            padding: 8px;
            border-radius: 4px;
            &:hover {
                background-color: $color_2;
            }
        }
    }

    .replacement {
        background-color: $color_2;
        font-size: 0.80rem;
        color: $text_2;
        padding: 8px 16px;
        border-radius: 8px;
        display: inline-block;
        margin-top: 8px;

        .replacement-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;

            & > div:nth-of-type(1) {
                flex: 1 1;
                position: relative;
                width: 50%;
            }

            .replacement-buttons {
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }

            .button-icon-only {
                width: 48px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 4px;
                margin-right: 0px;
            }

            .button-icon-only:nth-of-type(1) {
                margin-left: 8px;
            }

            .playing {
                opacity: 0.35 !important;
            }

            .download {
                background-color: transparent;

                svg {
                    width: 24px;
                    height: 24px;
                }

                svg path {
                    fill: $accent_1;
                }
            }

            button:hover {
                background-color: $color_1;
            }
        }

        b {
            color: $accent_1;
            display: inline-block;
            margin-right: 8px;
        }

        .replacement-detail {
            display: table;

            &.replacement-name {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: block;
                max-width: unset;
            }
        }

        .replacement-progress-bar {
            display: block;
        }

        .progress-bar-wrapper {
            background-color: $color_1;
            position: relative;
            max-width: 240px;
            border-radius: 2px;
            cursor: pointer;

            .thumb {
                position: absolute;
                top: -2px;
                width: 8px;
                background-color: $text_1;
                bottom: -2px;
                pointer-events: none;
                transition: left 0.32s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.32s cubic-bezier(0.19, 1, 0.22, 1);
                border-radius: 2px;
                opacity: 0;
            }

            &:hover {
                .thumb {
                    opacity: 1;
                }
            }
        }

        .progress-bar {
            height: 8px;
            background-color: $accent_1;
            transition: width 0.32s cubic-bezier(0.19, 1, 0.22, 1);
            border-radius: 2px;
        }
    }

    .audio {
        position: relative;

        span {
            display: none;
            position: absolute;
            bottom: -28px;
            background-color: $color_2;
            font-size: 0.80rem;
            font-family: $bodyFont;
            color: $text_1;
            padding: 2px 12px;
            border-radius: 500px;
        }

        &:hover {
            span {
                display: block;
                animation: fadeDown 0.32s forwards 1;
            }
        }
    }

    .browse-btn {
        background-color: $color_2;
        border: solid thin $color_2;
        padding: 8px 32px;
        border-radius: 500px;
        color: $text_2;
        font-size: small;

        &:hover {
            box-shadow: 0px 4px 8px #111;
        }
    }

    @media all and (max-width: 900px) {
        .sfx-pack-track-top {
            margin-bottom: 8px;
        }
    }

    @media all and (max-width: 640px) {
        flex-flow: column wrap;
        padding: 20px 0px;

        .default-name {
            font-size: 0.85rem;
            max-width: 50vw;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

            svg {
                width: 16px;
                height: 16px;
            }
        }

        .details {
            flex: 1 1;
            margin-right: 0px;
        }

        .replacement {
            width: 100%;
            display: block;
            
            .replacement-inner > div, .replacement-buttons {
                flex: 1 1;
            }

            .replacement-details {
                .replacement-name {
                    max-width: 32vw;
                    width: auto;
                }

                .replacement-progress-bar {
                    width: 100%;
                }
            }
        }

        .buttons {
            justify-content: flex-start;

            .button-icon-only {
                margin-right: 8px;
            }

            .browse-btn {
                margin-right: 0px;
                margin-left: auto;
                padding-left: 16px;
                padding-right: 16px;
                font-size: x-small;
            }
        }
    }
}

.sfx-pack {
    width: 100%;
    padding: 0px 16px;

    .import {
        padding-left: 16px;
        padding-right: 16px;

        b {
            font-size: 0.65rem;
            background-color: $bg_1;
            padding: 4px 8px;
            border-radius: 4px;
            margin-left: 8px;
        }
    }

    .top {
        padding: 16px 0px;

        .bottom-row {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-top: 16px;
    
            .buttons {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 0px;
                flex-flow: row wrap;
    
                button {
                    flex: 1 1;
                    white-space: nowrap;
                }

                .download {
                    background-color: $accent_1;
                    border-radius: 4px;
                    margin-right: 0px;

                    svg {
                        width: 16px;
                        height: 16px;
                    }

                    svg path {
                        fill: $bg_1;
                    }
                }
            }

            @media all and (max-width: 1080px) {
                flex-flow: column;
                align-items: stretch;
                justify-content: center;

                .buttons {
                    padding-top: 8px;
                    align-items: stretch;
                }
            }

            @media all and (max-width: 720px) {
                .buttons {
                    button.clear-all {
                        flex: unset;
                    }
                }
            }
        }
    }

    .sfx-pack-name {
        font-size: 2rem;
        line-height: 2.5rem;
        font-family: #{ $headerFont };
        overflow-wrap: break-word;

        span {
            display: inline-block;
            vertical-align: middle;
            font-size: small;
            background-color: $color_2;
            padding: 8px 16px;
            border-radius: 500px;
            margin-left: 8px;
            line-height: 1rem;
        }
    }

    .sfx-pack-author {
        color: #{ $text_2 };
        padding: 12px 0px;
        max-width: 45%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        vertical-align: middle;
    }

    .sfx-pack-count {
        margin-left: 8px;
        font-family: $headerFont;
        color: $text_2;
        background-color: $color_2;
        display: inline-block;
        padding: 4px 12px;
        font-size: small;
        border-radius: 500px;

        b {
            color: $accent_1;
            margin-right: 16px;
        }
    }

    .sfx-pack-description {
        padding: 8px 16px 16px;
        border-radius: 4px;
        background-color: #{ $color_2 };
        display: table;

        b {
            font-size: small;
            display: table;
            padding-top: 8px;
            padding-bottom: 8px;
        }
    }

    .sfx-pack-tracks {
        border-top: solid thin $color_2;
        
        .sfx-pack-tracks-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: sticky;
            top: -1px;
            padding-top: 16px;
            padding-bottom: 16px;
            background-color: $bg_1;
            z-index: 4;

            .buttons {
                display: flex;
                align-items: stretch;
                justify-content: center;
                white-space: nowrap;

                .clear-all {
                    background-color: transparent;
                    color: $text_2;
                    transition: opacity 0.32s cubic-bezier(0.19, 1, 0.22, 1);
                    margin: 0px auto 0px 0px;
                    border: none;
                    font-size: 0.90rem;

                    &:hover {
                        opacity: 0.65 !important;
                    }
                }
            }

            @media all and (max-width: 640px) {
                h2 {
                    font-size: 1.25rem;
                }

                .buttons {
                    .import {
                        span {
                            display: none;
                        }

                        b {
                            margin-left: auto;
                        }
                    }
                }
            }
        }
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.empty {
    flex: 1 1;
    text-align: center;
    font-family: #{ $headerFont };
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.downloads {
    .inner-content {
        p {
            padding: 0px 0px 16px;
        }
    }
    .buttons {
        display: block;
        margin-bottom: 16px;
        
        button {
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 16px;
            width: 100%;
            margin-bottom: 8px;
            transition: opacity 0.32s cubic-bezier(0.19, 1, 0.22, 1);
            animation: none;

            svg {
                margin-right: 0px;
            }

            &:hover {
                opacity: 0.65;
            }

            &:active {
                transform: none;
            }
        }
    }
}