@import "./../../variables.scss";

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        background-color: #111;
        z-index: 1;
        animation: fadeIn 0.64s forwards 1 cubic-bezier(0.19, 1, 0.22, 1);
    }
    
    .content {
        animation: slideIn 0.64s forwards 1 cubic-bezier(0.19, 1, 0.22, 1);
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        background-color: $color_1;
        z-index: 2;
        padding: 16px;
        width: 100%;
        max-width: 512px;
        overflow-y: auto;

        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;
        padding-top: 8px;

        &::-webkit-scrollbar { 
            display: none;  /* Safari and Chrome */
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.99;
    }
}
@keyframes slideIn {
    from {
        transform: translateX(512px);
    }
    to {
        transform: translateX(0px);
    }
}