@import "./../../variables.scss";

.json-form {
    display: block;

    .download {
        width: 65%;
    }

    form {
        display: block;

        .inner-form {
            input[type="text"] {
                width: 100%;
            }
            .description-textarea {
                textarea {
                    display: block;
                    width: 100%;
                }
            }
        }
    }

    label {
        display: block;
        margin-bottom: 24px;

        b {
            font-family: $headerFont;
            display: table;
            color: #{ $accent_1 };
            margin-bottom: 4px;
        }

        input[type="text"], textarea {
            background-color: $color_2;
            color: $text_1;
            border: none;
            padding: 8px;
        }
    }

    .pack-type {
        padding: 0px 0px;
        margin-bottom: 16px;

        .buttons {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        b {
            font-family: $headerFont;
            display: table;
            color: $accent_1;
            margin-bottom: 8px;
        }

        .pack-type-button {
            background-color: $color_2;
            color: $text_1;
            padding: 12px 32px;
            border-radius: 500px;
            border: none;
            font-size: small;

            &.selected {
                background-color: $accent_1;
                color: $color_1;
            }

            &:nth-of-type(1) {
                margin-right: 8px;
            }
        }

        .button-icon {
            flex: 1 1;
            
            &:nth-of-type(2) {
                margin-right: auto;
            }
        }
    }

    .actions {
        margin-top: 32px;

        button {
            width: 100%;
            padding: 16px;
            margin-bottom: 8px;
            border-radius: 12px;

            svg {
                width: 18px;
                height: 18px;
            }

            &.download {
                flex: 1 1;
                margin-right: 0px;
            }
        }
    }
}