@import "./../../variables.scss";

.site-header {
    padding: 16px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        svg { 
            fill: $bg_1; 
            width: 128px;
            height: 48px;
        }
    }

    button {
        color: $text_1;
        background-color: transparent;
        border: none;
        padding: 16px;
        border-radius: 4px;

        &:hover {
            background-color: $color_2;
        }
    }

    small {
        text-align: right;
        font-size: small;
        margin-right: 0px;
        display: block;
    }
}

.installation {
    .links {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 16px auto;

        a:nth-of-type(1) {
            margin-right: 8px;
        }

        a {
            background-color: $color_2;
            color: $text_1;
            text-align: center;
            text-decoration: none;
            flex: 1 1;
            padding: 12px;
            border-radius: 8px;
        }
    }
}