@import "./../../variables.scss";

.sidebar {
    max-height: 100vh;
    overflow-y: hidden;

    .previews-list {
        max-height: 80vh;
        overflow-y: scroll;
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;
        padding-top: 8px;

        &::-webkit-scrollbar { 
            display: none;  /* Safari and Chrome */
        }
    }

    .action-btns {
        button {
            flex: 1 1;
            transition: opacity 0.32s cubic-bezier(0.19, 1, 0.22, 1);
            margin-right: 0px;
            border-radius: 16px;
            padding: 14px;
            
            &:hover {
                opacity: 0.65;
            }
    
            &:nth-of-type(1) {
                margin-right: 8px;
            }
        }
    }

    @media all and (max-width: 900px) {
        max-height: 480px;

        .previews-list {
            display: flex;
            align-items: stretch;
            justify-content: flex-start;
            flex-flow: row nowrap;
            gap: 16px;
            overflow-x: auto;
            padding-bottom: 16px;
            scroll-snap-type: x mandatory;

            .sfx-pack-preview {
                max-width: 270px;
                min-width: 270px;
                flex: 1 1;
                margin-bottom: auto;
                scroll-snap-align: start;
                background-color: $color_2;
            }
        }
    }
}

.action-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 16px;
}

.action-btn {
    display: block;
    background-color: #{ $color_2 };
    color: #{ $text_2 };
    width: 100%;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
}

.json-form-wrapper {
    transition: max-height 0.48s cubic-bezier(0.19, 1, 0.22, 1);
    max-height: 0;
    overflow: hidden;
    
    &.visible {
        border-top: solid thin #{ $color_2 };
        max-height: 500px;
    }
}