@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,700;1,600&family=Mukta:wght@300;400;500&display=swap');

$headerFont: 'Mulish', sans-serif;
$bodyFont: 'Mukta', sans-serif;

/* COLORS */
$bg_1: #1B1B1B;
$color_1: #202020;
$color_2: #2e2e2f;
$accent_1: #59bdb7;
$accent_2: #a0cefa;
$text_1: #FEFEFE;
$text_2: #c8c8c8;

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(8px);
    }
    
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}