@import "./../../variables.scss";

.site-footer {
    padding: 64px 16px;

    .inner {
        max-width: 640px;
        text-align: left;
        margin: auto;

        .links {
            display: flex;
            align-items: center;
            justify-content: center;

            b {
                margin-right: 8px;
            }
        }
    }
}