@import "./../../variables.scss";

.site-footer {
    padding: 16px 16px;

    .inner {
        max-width: 640px;
        text-align: center;
        margin: auto;

        .links {
            display: flex;
            align-items: center;
            justify-content: center;

            b {
                margin-right: 8px;
            }
        }
    }

    @media all and (max-width: 512px) {
        .inner {
            text-align: left;

            .links {
                justify-content: flex-start;
            }
        }
    }
}